body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.stylenavbar{
    background-color: #94B49F;
    color: white;
    text-align: center;
    font-size: 30px;
}

.logo{
    width: 130px;
    height: auto;
}

.mapa{
    height: 240px;
    width: 450px;
    position: relative;
    top: 8%;
    left: 18%;
}

.presentacion, .direccion{
    text-align: center;
}

.stylefooter{
    background-color: #94B49F;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 100%;
    position: relative;
    height: auto;
    bottom: 0;
}